div {
    background-color: rgb(228, 221, 234);
    border: 5px solid rgb(18, 16, 20);
    margin-top: 10px;
    margin-left: 20px;
    padding: 20px;
}

p {
    color: rgb(17, 179, 11);
}
#big-heading{
    text-transform: uppercase;
    font-size: 30px;
    color:rgb(14, 14, 103);
}
.par1{
    color:brown;
    font-size: 20px;
}

/* COLORS
-string
-RGB(255,0,43)
-RGBA(22,0,9,0.5) less than 1 it is opaque, A is alpha, GIVES YOU ABILITY TO CONTROL THE OPACITY OF YOUR COLORS
-HSL<Hue Saturation and Lighting> (22,33,70)
-HSLA (22,33,70,0.8)
-HASH : #4a534
-CYMK */